html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1024px;
  margin: auto;
}

.wrapper > nav {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: rgb(28, 62, 195);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav > .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  align-items: center;
}
.menu > ul > li {
  text-decoration: none;
}

.menu > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.menu {
  width: 30%;
  margin: 30px 0;
}

.logo > i {
  font-size: 3rem;
}

#profile {
  background: url("../img/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  align-items: center;
}

.profile-container-opacity {
  background-color: rgb(28, 62, 195);
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.profile-container {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}

.profile-container > img {
  display: inline;
  width: 150px;
  border-radius: 50%;
}

.profile-container > div {
  margin: 30px 0 0 25px;
}

.profile-container > div > h2 {
  margin: 0;
  padding: o;
}
.profile-container > div > p {
  margin: 0;
  padding: 0;
}
